<div class="home-image">
    
    <div class="text-container color-white-text">

        <div class="alineacion">

            <h1>
                Basketball
            </h1>

        </div>

        <div>
            <!---->
        </div>
    </div>

    <div class="icons-general-container">

        <div class="icons-container">

            <img src="{{ iconFb }}" alt="facebook" class="icon-social-media">
            <img src="{{ iconIG }}" alt="instagram" class="icon-social-media">
            <img src="{{ iconYT }}" alt="youtube" class="icon-social-media">

        </div>
    </div>
</div>
