/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}
/* Titulos */
h1 {
    font-size: 50px;
    font-family: 'PoppinsLigh', sans-serif;
}
h3 {
    font-size: 30px;
    font-family: 'PoppinsSemiBold', sans-serif;
}

//Textos
.menu {
    font-size: 20px;
    font-family: 'PoppinsLight', sans-serif;
}
.general-text {
    font-size: 13px;
    font-family: 'PoppinsMedium', sans-serif;
}

// Iconos

.icon-social-media {
    width: 30px;
}

//Colores

.color-btn-background {
    background-color: #C1C1C1;
}
.color-black-background {
    background-color: #151515;
}
.color-gray-text {
    color: #606060;
}
.color-white-text {
    color: #ffffff;
}


// Importación de fuentes
@font-face {
    font-family: PoppinsLight;
    src: url('../src/assets/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: PoppinsMedium;
    src: url('../src/assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url('../src/assets/fonts/Poppins-SemiBold.ttf');
}